<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Registration</title>
</head>
<body>

<!-- PAGE TITLE -->
<h2>Registration</h2>

<!-- REGISTRATION FORM -->
<form>
    <!-- TODO action & method -->
    <!-- TODO Fields -->
    <!-- TODO Button -->

    <!-- Example field -->
    <label for="example-input">Example Field</label>
    <input id="example-input" type="text" name="example" />

</form>

<!-- USEFUL LINKS -->
<p>
    <a th:href="@{/login}">Already have an account? Sign in</a>
</p>

</body>
</html>
